html,
body {
  height: 100%;
}

.main {
  flex-grow: 1;
}

body {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.48px;
  color: $default;
  @extend %outfit-400;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 64px;
  line-height: 64px;
  color: $title;
  @extend %outfit-700;
  margin-bottom: 25px;
}

.social-list {
  display: flex;

  &__item {
    padding-top: 8px;
  }

  &__item+.social-list__item {
    padding-left: 20px;
  }

  &__link {
    path {
      fill: $default;
      transition: fill .4s;
    }

    &:hover {

      path {
        fill: #FF7F96;
      }
    }
  }
}