$title: #2F2F2F;
$default: #222222;
$accent: #FF7F96;


%outfit-400 {
  font-family: 'Outfit-Regular', sans-serif;
  font-weight: 400;
}

%outfit-700 {
  font-family: 'Outfit-Bold', sans-serif;
  font-weight: 700;
}