@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 20px 0;
  background-color: #f9eeef;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__link {
    color: #fff;
    font-size: 13px;
    line-height: 14px;
    padding: 15px;
    padding-top: 11px;
    background-color: $title;
    border-radius: 20px;
    transition: all .5s;

    &:hover {
      background-color: $accent;
      color: #000;
    }
  }
}

.menu {

  &__btn {
    display: none;
  }

  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    margin-left: 48px;
  }

  &__list-link {
    color: $default;
    font-size: 15px;
    line-height: 16px;
    transition: all .3s;

    &:hover {
      color: $accent;
    }
  }
}

.footer-top {
  padding: 100px 0 60px;
  border-bottom: 1px solid #ffd7de;
  display: flex;
  justify-content: space-between;

  &__social {
    width: 185px;
    margin-right: 90px;
  }

  &__logo {
    display: block;
    margin-bottom: 45px;
  }

  &__title {
    font-size: 20px;
    line-height: 20px;
    color: $title;
    margin-bottom: 20px;
  }

  &__nav {
    width: 100px;
    margin-right: 90px;
  }

  &__link {
    display: block;
    margin-bottom: 13px;
    font-size: 15px;
    line-height: 16px;
    color: $title;
    transition: all .3s;

    &:hover {
      color: $accent;
    }
  }

  &__utility {
    width: 115px;
    margin-right: 100px;
  }

  &__form {
    max-width: 440px;
  }

  &__form-title {
    font-size: 35px;
    line-height: 28px;
    color: $title;
    margin-bottom: 16px;
  }

  &__text {
    color: $title;
    margin-bottom: 16px;
  }

  &__form-input {
    background-color:#F6F6F6;
    border-radius: 20px;
    border: none;
    max-width: 327px;
    width: 100%;
    margin-right: 8px;
    padding: 12px 15px 12px 32px;

    &::placeholder {
      font-size: 14px;
      line-height: 16px;
      color: $default;
      opacity: 0.36;
    }
  }

  &__form-btn {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    @extend %outfit-700;
    padding: 13px 15px;
    background-color: $title;
    border: none;
    border-radius: 20px;
    transition: all .5s;
    cursor: pointer;

    &:hover {
      color: #000;
      background-color: $accent;
    }
  }
}

.footer-bottom {
  padding: 65px 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__copy {
    font-size: 14px;
    line-height: 16px;
    color: $title;
  }

  &__creator {
    font-size: 15px;
    line-height: 16px;
    color: $title;
  }

  &__span {
    font-size: 14px;
    line-height: 16px;
    color: $accent;
  }
}

.experience {
  padding: 135px 0 145px;
  
  &__inner {
    display: flex;
    position: relative;
  }
  
  &__content {
    max-width: 560px;
    margin-right: 50px;
    padding-top: 85px;
  }

  &__subtitle {
    font-size: 13px;
    line-height: 14px;
    color:#82CBAC;
  }

  &__img {
    height: 100%;
    z-index: -1;
  }

  &__img--special {
    height: auto;
    position: absolute;
    right: 0;
    top: 100px;
  }
}

.experience-slider {
  padding-top: 380px;
  padding-bottom: 35px;

  &__item {
    margin: 0 20px;
    padding: 0 10px;
  }
}

.arrow {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  bottom: 0;
  left: 50%;
}

.arrow-left {
  transform: translateX(-80px);
}

.arrow-right {
  transform: translateX(30px);
}


.team {
  text-align: center;
  padding-bottom: 145px;

  &__text {
    margin: 0 auto;
    color: $title;
    max-width: 610px;
    margin-bottom: 70px;
  }

  &__filter {
    text-align: left;
    margin-bottom: 65px;
  }

  &__filter-btn {
    font-size: 22px;
    line-height: 22px;
    color: $title;
    padding: 12px 65px 17px;
    border: 1px solid $title;
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
  }

  &__filter-btn--active {
    color: #fff;
    background-color: $title;
  }

  &__filter-btn + .team__filter-btn {
    margin-left: 8px;
  }

  &__inner {
    display: flex;
  }

  &__inner--second,
  &__inner--third {
    display: none;
  }

  .team__inner--second[style*='display: block'] {
    display: flex !important;
  }

  .team__inner--third[style*='display: block'] {
    display: flex !important;
  }

  &__content {
    text-align: left;
    padding-top: 45px;
  }

  &__content-subtitle {
    font-size: 16px;
    line-height: 18px;
    color: $accent;
    margin-bottom: 15px;
  }

  &__content-title {
    font-size: 36px;
    line-height: 36px;
    color: $title;
    margin-bottom: 20px;
    max-width: 345px;
  }

  &__content-text {
    max-width: 440px;
  }
}

.about {
  padding-bottom: 200px;

  &__descr {
    margin-bottom: 90px;
  }

  &__descr-inner {
    display: flex;
  }

  &__descr-img {
    margin-right: 65px;
  }

  &__descr-content {
    padding-top: 55px;
  }

  &__descr-subtitle {
    font-size: 35px;
    line-height: 36px;
    color: $title;
    text-transform: uppercase;
    margin-bottom: 7px;
  }

  &__descr-title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 38px;
  }

  &__descr-text {
    margin-bottom: 40px;
  }

  &__descr-link {
    font-size: 15px;
    line-height: 16px;
    @extend %outfit-700;
    color: #fff;
    background-color: $title;
    padding: 12px 40px 16px;
    transition: all .5s;

    &:hover {
      color: #000;
      background-color: $accent;
    }
  }

  &__info-inner {
    display: flex;
    justify-content: space-between;
  }

  &__info-items {
    padding-top: 64px;
    max-width: 435px;
    margin-right: 125px;
  }

  &__info-item {
    margin-bottom: 38px;
  }

  &__info-span {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    padding: 6px 20px 11px;
    border-radius: 30px;
  }

  &__info-span--graphic {
    background-color: #82CBAC;
  }

  &__info-span--digital {
    background-color: $accent;
  }

  &__info-span--photo {
    background-color: #EAD71B;
  }

  &__info-title {
    font-size: 36px;
    line-height: 36px;
    color: $title;
    margin: 10px 0 15px;
  }
}

.collection {
  padding-bottom: 95px;
  text-align: center;

  .title {
    margin-bottom: 70px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 75px;
  }

  &__item {
    max-width: 358px;
    text-align: left;
  }

  &__item-box {
    padding-top: 30px;
    padding-bottom: 35px;
    padding-left: 50px;
  }

  &__item-titlelink {
    color: $title;
    transition: all .3s;

    &:hover {
      color: $accent;
    }
  }

  &__item-title {
    font-size: 26px;
    display: inline-block;
    @extend %outfit-700;
  }

  &__link {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    @extend %outfit-700;
    padding: 12px 40px 16px;
    background-color: $title;
    transition: all .5s;

    &:hover {
      color: #000;
      background-color: $accent;
    }
  }
}

.top-nft {
  padding-bottom: 110px;
  text-align: center;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 42px 38px;
    margin-bottom: 65px;
  }

  &__item-img {
    display: inline;
  }

  &__item-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }

  &__name {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }

  &__name-title {
    font-size: 16px;
    line-height: 18px;
    color: $title;
    margin-right: 8px;
  }

  &__name-span {
    font-size: 17px;
    line-height: 18px;
    @extend %outfit-700;
    color: $title;
    padding-top: 3px;
  }

  &__status {
    display: flex;
  }

  &__status-imglink {
    margin-right: 8px;
  }
}

.faq {
  padding-bottom: 120px;

  .title {
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  &__accordion-item {
    margin-bottom: 10px;
  }

  &__accordion-name {
    padding: 22px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
  }
  
  &__accordion-namebox {
    display: flex;
    justify-content: space-between;
  }

  &__accordion-title {
    font-size: 22px;
    line-height: 24px;
    color: $title;
  }

  &__accordion-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transform: rotate(0);
    transition: 0.4s;
  }

  &__accordion-btn--top {
    transform: rotate(180deg);
  }

  &__accordion-content {
    display: none;
    padding: 25px;
    background-color: #fff;
  }

  &__accordion-link {
    color: $accent;
  }
}

.contact {
  padding-bottom: 125px;

  &__inner {
    display: flex;
  }

  &__info {
    padding-top: 100px;
    max-width: 400px;
    margin-right: 50px;
    text-align: center;
  }

  &__info-title {
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 35px;
  }

  &__info-text {
    margin-bottom: 40px;
  }

  &__form {
    width: 100%;
    padding: 60px 40px;
    box-shadow: 0px 5px 20px 0px rgba(146, 146, 146, 0.3);
  }

  &__form-input {
    display: block;
    width: 100%;
    background-color: #F6F6F6;
    border: none;
    height: 60px;
    padding: 0 24px;
    margin-bottom: 30px;
    border-radius: 20px;

    &::placeholder {
      font-size: 16px;
      line-height: 26px;
      color: $default;
      opacity: 0.36;
    }
  }

  &__form-textarea {
    display: block;
    width: 100%;
    resize: none;
    height: 200px;
    background-color: #F6F6F6;
    border: none;
    padding: 24px;
    margin-bottom: 30px;
    border-radius: 20px;

    &::placeholder {
      font-size: 18px;
      line-height: 26px;
      color: $default;
      opacity: 0.36;
    }
  }

  &__form-btn {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    @extend %outfit-700;
    padding: 12px 40px 16px;
    background-color: $title;
    border: none;
    border-radius: 20px;
    transition: all .5s;
    cursor: pointer;

    &:hover {
      color: #000;
      background-color: $accent;
    }
  }
}

@import 'media';
